<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="container">
    <h1>Edit Post</h1>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <div>
            <label for="id">Post Id:</label> <%= post.id %>
            <br><br>
            <label for="content">Content:</label> 
            <br><br>
            <textarea rows="4" cols="30" id="content" name="content"><%= post.content %></textarea>
        </div>
        <br><br>
        <button type="submit">Update Post</button>
    </form>
    </div>
</body>
</html>